server {

    server_name {{ server }} default_server;
    listen {{ port }};
    root {{ path }};
    index index.php;

    location ~ ^/\. {
        deny all;
    }

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/var/run/fpm-{{ name }}.sock;
        fastcgi_param HTTPS off;
        fastcgi_index index.php;
    }

    location ~ .*\.(js|css)?$ {
        expires 1h;
    }

    location ~ .*\.(jpg|jpeg|png|bmp|swf|ico)?$ {
        expires 30d;
    }

    access_log /var/log/{{ name }}-access.log;
    error_log /var/log/{{ name }}-error.log;
}

