[{{ phpci_name }}]

user = {{ phpci_user }}
group = {{ phpci_group }}

listen = /var/run/fpm-{{ phpci_name }}.sock
listen.mode = 0666

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
